.navContainer{
    background-color: #999;
}
.section1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 353px;
    color: #fff;
    margin-top: -21px;
}
.col1{
    background: rgb(186 137 239 / 9%);
    opacity: 1;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 100%;
    height: 353px;
}
.col2{
    width: 100%;
    height: 353px;
    display: flex;
    align-items: end;
    padding: 10px 30px;
    font-weight: 200;
}
.line{
    width: 62px;
    height: 2px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    opacity: 1;
 
}
.AboutHeading{
    display: flex;
    gap: 5px;
    align-items: center;
    position: relative;
    right: 247px;
    font-size: 20px;
    font-weight: 200;
}

.HeaderH1{
    font-size: 45px;
    width: 441px;
    font-weight: 400;

}
.AboutContainer{
 display: flex;
 flex-direction: column;
 gap: 26px;
 position: absolute;
 top: 233px;
 left: 40%;
 right: 40%;
 width: 500px;
 align-items: center;
}
.container{
    background: linear-gradient(#210045,#0C0123);
}
.footercontainer{
    background-color: #fff;
    color: #000;
}
.session2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #fff;
    grid-row: 10px;
}
.left{
    padding: 0 87px;
    font-weight: 300;
}
.left h1{
    font-size: 32px;
    font-weight: 400;
}
.form input{
    border: 0;
    outline: none;
    background-color: transparent;
    height: 50px;
    width: 305px;
    font-size: 18px;
}
.form{
    display: flex;
    align-items: center;
    border: 1px solid;
    width: 369px;
    height: 65px;
    padding: 10px;
    border-radius: 39px;
   
    
}
.right{
    padding: 0 87px;
}
.section3{
    background-color: #fff;
    
}
/* card */
.card{
    width: 421px;
    height: 666px;
    background: #FEFEFE 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #00000038;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;
}
.cardBanner{
    box-shadow: 0px 0px 15px #00000029;
    opacity: 1;
    margin-top: 18px;
    width: 380px;
}
.card h1{
    font-weight: 400;
}
.card p{
    font-weight: 300;
    font-size: 16px;
}
.lineread{
    width: 62px;
    height: 2px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #FF00F7 0% 0% no-repeat padding-box;
    border: 1px solid #FF00F7;
    opacity: 1;
 
}
.readmore{
    display: flex;
    gap: 10px;
   align-items: center;
   color: #FF00F7;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 112px 14px;
    
}



@media screen and (max-width:992px) {
    .section1{
        grid-template-columns:  1fr;
    }
    .AboutContainer{
        left: 12%;
    }
    .col2{
        position: absolute;
        top: 9%;
    }
    .HeaderH1{
        width: 489px;
        font-weight: 200;
    }
    .icon{
        font-size: 50px;
        
    }
    .session2{
        grid-template-columns: 1fr;
    }
    .cards{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width:656px) {
    .cards{
        grid-template-columns: 1fr;
    }
    .card{
        width: 421px;
        height: 666px;
    }
}