/* nav section */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 80px;
    margin-bottom: 20px;
   
   
}
.navlink{
    display: flex;
    list-style: none;
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
    Color: rgb(255, 255, 255);
    line-height: 27px;
    text-transform: uppercase;
    gap: 62px;
    cursor:pointer;
  
}
.header{
    height: 1138px;
    background: linear-gradient(#210045,#0C0123);
    
}
.logo{
   width: 100%;
   height: 100%;
    
}
.logoContainer{
    width: 80px;
    display: flex
}
.contact{
    background: #271AC1;
    padding: 10px 25px;
    border-radius: 25px;
}
.close{
    display:none;
    color: #fff;
}
.closeclose{
    display: none;
}
/* jumbotron */

.jumbotron{
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
    
    
}
.jumbotron h1{
    width: 790px;
    font-size: 50px;
    font-weight: 600;
    z-index: 2;
    text-transform: uppercase;
}
.jumbotron p{
    width: 600px;
    font-weight: 200;
    z-index: 2;
}
/* ball design */
.cssball1{
    width: 127px;
    height: 126px;
    border-radius: 100%;
    background-image: linear-gradient(to bottom, #7F1E7B 10%, #19073B 90%);
    position: absolute;
    left: 201px;
    top: 97px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.cssball2{
    width: 80px;
    height: 83px;
    border-radius: 100%;
    background-image: linear-gradient(to bottom, #213F72 10%,#19073B 90%);
    position: absolute;
    left: 1031px;
    top: 295px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.cssball3{
    width: 150px;
    height: 153px;
    border-radius: 100%;
    background-image: linear-gradient(to bottom, #7F4129 10%,#1C0C28 90%);
    position: absolute;
    left: 306px;
    top: 800px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;

}
.cssball4{
    width: 720px;
    height: 343px;
    border-radius: 720px 7200px 0 0;
    background-image: linear-gradient(to bottom, #213F72 10%,#19073B 90%);
    border: 0.3px solid #707070;
    opacity: 0.3;
    position: absolute;
    left: 301px;
    z-index: 7;
    top: 793px;
    -webkit-border-radius: 780px 780px 0 0;
    -moz-border-radius: 860px 860px 0 0;
    -ms-border-radius: 860px 860px 0 0;
    -o-border-radius: 860px 860px 0 0;
}

/* //cards */
.cardContainer{
    display: flex;
    gap: 10px;
    margin-top: 10px   
 }
.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 113px;
    width: 103px;
    background-color: #fff;
    color: #000;
    justify-content: center;
    border-radius: 14px;
    margin-bottom: 10px;
    z-index: 2;
}

.cardBody{
    font-size: 15px;
}
.cardHeading{
    font-size: 33px;
    font-weight: 500;
}

/* form */
.form{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    z-index: 5;
    gap: 45px;
    align-items: center;
}
.inputNameContainer{
    display: flex;
    gap: 75px;
}
.input{
    width: 180px;
    height: 50px;
    border: none;
    font-size: 18px;
    padding: 10px 0;
    border-bottom: solid 1px #707070;
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #707070 4%);
    background-position: -180px 0;
    background-size: 180px 100%;
    background-repeat: no-repeat;
    color: #707070;
}
.input:focus, .input:valid {
box-shadow: none;
outline: none;
background-position: 0 0;
}
.input:focus::-webkit-input-placeholder, .input:valid::-webkit-input-placeholder {
color: #fff;
font-size: 11px;
transform: translateY(-20px);
visibility: visible !important;
}
.EmailInputContainer{
    width: 423px;
    background: #Fff;
    height: 51px;
    display: flex;
    border-radius: 32px;
    align-items: center;
    margin-bottom: 10px;
}
.EmailInputContainer input{
    border: 0;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    position: relative;
    left: 22px;
}
.EmailInputContainer button{
    border: 0;
    outline: none;
    height: 51px;
    background: #271AC1;
    color: #fff;
    text-align: center;
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 1;
    width: 246px;
    position: relative;
    right: -34px;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}

/* social media */

.socialMedia{
    display: flex;
    gap: 30px;
    margin-top: 200px;
    z-index: 2;
}

/* privacy */
.privacy{
    display: flex;
    gap: 20px;
    z-index: 2;
}
.privacy h5{
    font-weight: 200;
    z-index: 2;
}
.copy{
    font-weight: 200;
    z-index: 2;
}
.hamburger{
    display: none;
}
@media screen and (max-width:992px) {
    .jumbotron h1{
        width: 490px;
        font-size: 30px;
        font-weight: 500;
        z-index: 2;
        text-transform: uppercase;
    }
    .jumbotron p{
        width: 400px;
        font-weight: 200;
    }
    .EmailInputContainer{
        width: 346px;
    }
    .EmailInputContainer input{
        font-size: 15px;
        position: relative;
        left: 12px;
    }
    .EmailInputContainer button{
        right: -14px;
    }
    .inputNameContainer{
        gap: 55px;
    }

    .cssball4{
        display: none;
    }
    .cssball2{
        left: 104px;
        top: 295px;
    }
    /* hamburger menu closed */
   .navlink{
    display: none;
    
}
.hamburger{
    display: block;
}
.logoContainer{
    display: block;
}
.closeclose{
    display: none;
}
/*hambuger menu open */

.navlinkopen{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    margin: 0;
    align-items: center;
    background-color: #19073B;
    z-index: 8;
    color: #fff;
    padding: 10px;
    height: 300px;
    overflow-y:hidden;
    width: 100%;
    left: 0;
    z-index: 24;
    padding-top: 40px;
  
}
.close{
    display: block;
    position: fixed;
    z-index: 30;
    right: 70px;
    top: 38px;
    
}
.hamburgeropen{
display: none;
}
}
@media screen and (max-width: 576px) {
    .card{
        height: 107px;
        width: 90px;
    }
    .cssball3{
        left: 105px;
        top: 757px;
    }

}
@media screen and (min-width:998px) {
    .cssball2{
        left: 879px;
    }
}