.container{
    background: linear-gradient(#210045,#0C0123);
    color: #fff;
}
.section1{
    display:grid;
    grid-template-columns: 1.5fr 1fr;
    height:650px;
    color: #fff;
}
.col1{
    background: rgb(186 137 239 / 9%);
    opacity: 1;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width:100%;
    height:550px;
}
.col2{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: end;
    padding: 10px 30px;
    font-weight: 200;
}
.line{
    width: 62px;
    height: 2px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    opacity: 1;
 
}
.AboutHeading{
       display: flex;
       gap: 5px;
       align-items: center;
       position: relative;
       right: 247px;
       font-size: 20px;
       font-weight: 200;
   }

.HeaderH1{
    font-size: 48px;
    width: 422px;
    font-weight: 400;

}
.AboutContainer{
    display: flex;
    flex-direction: column;
    gap: 26px;
    position: absolute;
    top: 233px;
    left: 40%;
    right: 40%;
    width: 500px;
    align-items: center;
}

.form{
    display: flex;
    border-bottom: 2px solid #888;
    align-items: center;
    color: #888;
}
.form input{
    background: none;
    border: 0;
    outline: none;
    font-size: 18px;
    padding: 10px 0;
    color:#fff


}

/* features */
.section2{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 118px;
    padding: 0 34px;
    grid-gap: 16px;

}
.feature{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}
.featurInfo{
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-weight: 100;
    
}
.p{
    position: relative;
    top: -26px;
}
.featurInfo h1{
    font-size: 34px;
    font-weight: 200;
}
.icon{
    font-size: 70px;
    color: #FF00F7;
    position: relative;
    top: 36px;
}
.remove{
    position: relative;
    top: 36px;
    padding: 0 10px;
    color: #000;
    background: #fff;
    height: 30px;
    border-radius: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 800;
}
.benefit{
    font-weight: 300;
}
.underline{
    width: initial;
    height: 1px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #525252;
    opacity: 1;
}

.Addtaskcontainer{
    display: flex;
    flex-direction: column;
    gap: 41px;
    margin-top: 27px;
   
   
}
.Addtaskinner{
    display: flex;
    font-weight: 100;
    justify-content: space-between;
}
.add{
    padding: 0 10px;
    color: #000;
    background: #fff;
    height: 30px;
    border-radius: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 800;
}
.featureleft{
    border: 1px solid #fff;
    width: 100%;
    padding: 51px 51px;
}
.addfeaturesection{
    margin-top: 158px;
}

/* featuremenu */
.featureMenu{
    width: 300px;
    height: 70px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 200;
    margin-bottom: 10px;
    background: transparent linear-gradient(180deg, #210045 0%, #0C0123 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    opacity: 1;
}

@media screen and (max-width:992px) {
    .section1{
        grid-template-columns:  1fr;
    }
    .AboutContainer{
        left: 12%;
    }
    .col2{
        position: absolute;
        top: 9%;
    }
    .HeaderH1{
        width: 489px;
        font-weight: 200;
    }
    .icon{
        font-size: 50px;
        
    }
    .section2{
        grid-template-columns: 1fr;
    }
    .featuremenucontainer{
        display: grid;
        justify-content: center;
    }
}